 @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --Background-grey: #1E1E1E;
    --Cherry-pink: #FF88D1;
    --Candy-green: #98C379;
    --Light-grey: #ABB2BF;
    --Original-pink: #C778DD;
    --Soft-blue: #62AEEF;
    --White-screen: #faf9f9;

    --Main-font: 'Fira Code';
}

body{
    background-color: var(--Background-grey);
}

.c-darkGrey{
    color: var(--Background-grey)
}

.c-pink{
    color: var(--Cherry-pink);
}

.c-lightGrey{
    color: var(--Light-grey)
}

.c-white{
    color: var(--White-screen)
}

.f-main{
    font-family: var(--Main-font);
}

.d-flex{
    display: flex;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.j-start {
    justify-content: flex-start;
}

.j-end {
    justify-content: flex-end;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-start {
    align-items: flex-start;
}

.a-end {
    align-items: flex-end;
}

.a-center {
    align-items: center;
}

.b-test {
    border: 1px solid red;
}